{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
<!--        <h4>Custom fragments</h4>-->
        <h4> Cyberinfrastructure for making Drone data F.A.I.R </h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
      </div>
    </div>
<!--  <h5> Cyberinfrastructure for making Drone data F.A.I.R </h5>-->
  <p> Researchers are increasingly making small Unmanned Aircraft Systems [sUAS] -- aka drones -- a standard platform for scientific data capture.  As a nascent and emerging tool, the need for drone data management cyberinfrastructure has increased as adoption has grown.  For the many reasons there is much to be gained by academia and society by meeting this need.  This project is working to build open source, community driven, foundational data management cyberinfrastructure so as to enable drone data to be easily made FAIR <a href="https://www.nature.com/articles/sdata201618"> [Findable Accessible Interoperable Reusable]</a>.  </p>
  <p> For more on why we think this is particularly important for drone data see <a href="https://www.mdpi.com/2072-4292/11/15/1797"> Emergent Challenges for Science sUAS Data Management Fairness through Community Engagement and Best Practices Development</a></p>

  <h5>Project Goals</h5>
  <p> This Sloan foundation funded project is working to create a suit of tools and example applications to facilitate the building of CI for drone data management via:
  <ul>
    <li>An ontology that aligns with existing best practice ontologies such as OGC's SOSA, NASA's SWEET, and OBO Foundary ontologies</li>
    <li>RESTFUL APIs for building web-native data handling tools</li>
    <li>A set of proposed drone data best practices developed through global community discussion</li>
  </ul>
<h5> Community Driven, Open, and Collaborative Development</h5>
  <p>
Our target user community is scientific drone users, but although we welcome all commercial adoption and input.  In order to maximise adoption in a community that spans a majority of scientific disciplines, and to build on the existing potential for drones to democratise access to GIS data; all work is being done transparently in the open, all technical outputs are open source.

Further, we have already and will continue to make a significant effort to carry out all work in a manner that grows a community around these tools and encourages outside comment and contribution.

Key community forums where we are drawing input from include:
<ul>
<li><a href="https://www.rd-alliance.org/groups/small-unmanned-aircraft-systems%E2%80%99-data-ig"> Research Data Alliance sUAS Data Interest Group </a> </li>
<li><a href="https://www.esipfed.org/get-involved/collaborate"> Earth and Information Partners Federation Drone Cluster </a></li>
  <li><a href="https://www.ogc.org/"> Open Geospatial Consortrium UXS DWG</a></li>
</ul>
  </p>
  <img src="../../../images/RDA_logo_150x150.png" alt="RDA">
  <img src="../../../images/esip.png" alt="ESIP">
  <img src="../../../images/OGC.png" alt="OGC">
  </div>
</section>
